@import "tailwindcss";


@theme {
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  
  --spacing-page: 1436px;
  --color-brand: hsl(26, 73%, 51%);
  --color-brand-foreground: white;
  --color-brand-secondary: #c6bb58;
  --color-brand-secondary-foreground: #97890c;
  --color-brand-200: hsl(33, 100%, 50%);

  --color-landing-foreground: #59592a;
  --color-landing-foreground-200: #a8a866;
}

.dark {
  --color-landing-foreground: #e4e2d0;
  --color-landing-foreground-200: #b7af7e;

  --color-brand: #fff383;
  --color-brand-secondary: #fc7744;
  --color-brand-secondary-foreground: #521700;
  --color-brand-foreground: black;
  --color-brand-200: #fff7c8;
}

@theme inline {
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }
    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;

  --color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
  --color-repeat-gradient-to-r: repeating-linear-gradient(to right, var(--tw-gradient-stops));
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

:root {
  --headless-color: var(--color-lime-500);
  --framework-color: var(--color-amber-500);
  --ui-color: var(--color-blue-500);
  --cli-color: var(--color-pink-500);
  --mdx-color: var(--color-yellow-500);
  --miscellaneous-color: var(--color-purple-500);
}

.dark {
  --headless-color: var(--color-lime-500);
  --framework-color: var(--color-amber-500);
  --ui-color: var(--color-blue-500);
  --cli-color: var(--color-pink-500);
  --mdx-color: var(--color-yellow-500);
  --miscellaneous-color: var(--color-purple-500)
}


.headless {
  --color-fd-primary: var(--headless-color);
}

.framework {
  --color-fd-primary: var(--framework-color);
}

.ui {
  --color-fd-primary: var(--ui-color);
}

.cli {
  --color-fd-primary: var(--cli-color);
}

.mdx {
  --color-fd-primary: var(--mdx-color);
}

.miscellaneous {
  --color-fd-primary: var(--miscellaneous-color);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

body {
  background-color: var(--color-fd-background);
}


@keyframes circuit_1 {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes circuit_1_x_energy {
  0%,
  46% {
    opacity: 0;
    transform: translateX(-20px);
  }
  47%,
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    transform: translateX(212px);
  }
}

@import "./base.css";
@import 'xyzdocs-radix-ui/style.css';
@import 'xyzdocs-radix-ui/css/shadcn.css';
@import 'xyzdocs-radix-ui/css/preset.css';
